.conteiner-create{
    padding: 50px;
}

.form-create{
    margin: auto;
    padding: 20px;
    height: 500px;
    width: 300px;
}
.create{
    text-align: center;
    margin: auto;
}
.input{
    margin: 10px;
    width: 100%;
    padding: 10px 10px;
}
input:focus{
    outline: none;
    border-color: #51b5f0 ;
}
.btn-create{
    color: cornsilk;
    background-color: rgb(22, 49, 97);
    margin: 10px;
    width: 100%;
    padding: 10px 10px;
    border:0px;
}
.btn-create:hover{
    background-color: rgb(48, 98, 184);
}
